<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="navbar">
    <div class="logo">
      <img src="C:\Users\NB\Desktop\GIT\ProjetoCasa_e_Arte\src\static\imagens" alt="Logo">
      <h1>Casa & Arte</h1>
    </div>
    <nav class="menu">
      <a href="{url_for('index.html')}">Home</a>
      <a href="{url_for('sobre.html')}">Sobre nós</a>1
      <a href="{url_for('contato.html')}">Contato</a>
    </nav>
</header>
    {% block content %}{% endblock %}
</body>
</html>